footer
  .row
    .col-12
      .inner-top
        ul
          li
            a(href='/') Home
            a(href='/') About us
            a(href='/') Service
            a(href='/')
              img(src='/images/footer-light-logo.png' alt='')
            a(href='/') Contact us
            a(href='/') Portfolio
            a(href='/') Blog
  br
  .row
    .col-12.copy &copy; 2024 Optical Powered by Niem Vui va Hanh Phuc
