header
  .inner-top
    .row
      .col-6.info
        i.fa-solid.fa-mobile-screen-button
        span (+123) 456 7890
        i.fa-regular.fa-envelope
        span addyour@emailhere
      .col-6.social
        ul
          li
            a(href='/')
              i.fa-brands.fa-facebook
            a(href='/')
              i.fa-brands.fa-youtube
            a(href='/')
              i.fa-brands.fa-linkedin
  .inner-bottom
    .row
      .col-4
        .inner-image
          a(href='')
            img(src='/images/logo.png' alt='Logo')
      .col-8.menu
        ul
          li
            a(href='/') HOME
            a(href='/patients') PATIENTS
            a(href='/check-schedules') CHECK SCHEDULES
            a(href='/doctors/find') DOCTORS
            a(href='/patient-incomplete/find') PATIENTS INCOMPLETE SERVICES.
