/* @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Freeman&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

* {
    box-sizing: border-box;
    /* font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; */
}

header {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 70px;
}


header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


header ul li {
    margin: 0;
    padding: 0;
}


header .inner-top {
    background-color: #7ec53e !important;
    padding: 10px 30px;
}

header .inner-top .info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    padding-left: 50px;
    font-size: 18px;
}

header .inner-top .info i {
    margin: 0 20px;
}

header .inner-top .social ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    padding-right: 50px;
}


header .inner-top .social ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
}

header .inner-bottom {
    padding: 20px 20px;
    background-color: #fff;
    position: sticky;
    z-index: 999;
    top: 0;
}

header .inner-bottom .row {
    display: flex;
    align-items: center;
}

header .inner-bottom .inner-image img {
    width: 300px;
    height: auto;
    object-fit: cover;
}

header .inner-bottom .menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header .inner-bottom .menu ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    margin-right: 15px;
    font-size: 20px;
}

footer {
    background-color: #2E2E2E;
    padding: 30px 10px;
    margin-top: 50px;
}

footer br {
    color: #fff;
    background-color: #fff;
    height: 1px;
}

footer .inner-top ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .inner-top ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 30px;
    font-size: 20px;
    font-weight: 700;
}

footer .inner-top ul li a img {
    width: 300px;
    object-fit: cover;
}

footer .copy {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

table th.action {
    padding-left: 50px!important;
}


/* show alert */
[show-alert] {
    position: fixed;
    top: 90px;
    right: 20px;
    z-index: 999;
    background-color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

[show-alert] .fa-spotify {
    color: #1ED760;
    font-size: 30px;
    margin-right: 5px;    
}

[show-alert].alert-hidden {
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
@keyframes alert-hidden {
    from {
        right: 15px;
    }
    to {
        right: -100%;
        display: none;
    }
}
/* show alert */


.container .form-group .phone {
    display: flex;
}

.container .form-group .phone input {
    margin-right: 30px;
}

